*{
  margin: 0;
  padding: 0;
  
  
}

.navbar{
  display: flex;
  justify-content: space-around;
  /* position: fixed; */
  min-width: 100%;
  padding-top: 10px;
  background-color: black;
  color: rgb(191, 68, 15);
  height: 15%;
  align-items: center;
  border-bottom: 1px solid  rgb(191, 68, 15);
  
  
}
.searchBar{
  display: flex;
  margin-bottom: 10px;
  height: 40px;
 

}
.searchBar input{
  margin-right: 5px;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
}


.searchBar button:hover{
  background-color: rgb(191, 68, 15);
}
.movieContainer{
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
  justify-content:space-around;
  justify-content:center;
  
  
}
#root{
  background-color: rgb(14, 18, 18);

}
.movieImg{
max-height: 70%;
width : 40%;
align-self: center;


}
.Star{
  display:flex;
  justify-content:center;
  margin-top:20px;
  color: rgb(191, 68, 15);
}
.movie{
  margin : 15px;
  display:flex;
  flex-direction : column;
  width: 60%;
}
.movie h3{
  font-size: 15px;
  font-weight: 500;
 color:  rgb(191, 68, 15);
 text-align: center;
 margin-top: 10px;
}
.movie h5{
  color: rgb(191, 68, 15);
  font-size: 15px;
  text-align: center;
}
.add.btn.btn-primary.add{
  background-color:rgb(191, 68, 15) ;
}
.movieImg:hover{
  transform: scale(1.1); 

}
.add.btn.btn-primary.add:hover{
  transform: scale(1.1); 
}
.Star:hover{
  transform: scale(1.5); 
}